/* ===================================
MOBILE  VERSIION OF BODY STYLE
=================================== */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

body {
    font-size: 15pt;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    display: flex;
    flex-direction:  column;
    background: #f8f9fa;
    color: #000;
   text-align: center;
   position: relative;
   overflow-x: hidden;
   overflow-y: auto;
}

.desktop-only {
    display: none;
}

.mobile-only {
    display: inline-block;
}


/* ===================================
DESKTOP  VERSIION OF BODY STYLE
=================================== */

@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 280px 1fr;
        grid-template-rows: 100vh;
        text-align: left;
    }
    
    .sidebar-nav {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .main-content {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        overflow-y: auto;
    }
    
    .desktop-only {
        display: inline-block;
    }
    
    .mobile-only {
        display: none;
    }
}

/* ===================================
MOBILE  VERSIION OF ASIDE STYLE
=================================== */

/* NAV STYLE */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    color: #fff;
    background: #7855ee;
    z-index: 999;
    transform: translateZ(999);
    /* force on top for some browsers */
}

.nav ul li {
    margin: 15px 15px 15px 0;
    cursor: pointer;
}

.nav ul li:hover {
    background: #dd5578;
}

.nav ul li:active {
    transform: scale(0.57);
}

.navlist-desktop {
    display: none;
}

.navlist-mobile ul {
    position: absolute;
    width: 35%;
    height: 170px;
    background: #7855ee;
    border: 1px solid #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
    will-change: transform, opacity;
}


.navlist-mobile ul:first-of-type li:first-child {
    list-style: none;
    color: yellow;
    cursor: default;
    pointer-events: none;
}

.sort-tab {
    left: 0;
    top: 80px;
    transform: traslateX(-100%);
}

.workspace-tab {
    top: 80px;
    right: 0;
    transform: translateX(100%);
}

.workspaces {
    top: 120px;
    right: 0;
}

.navlist-mobile ul.is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

sort-tab.is-visible {
    transform: translate(0, 0);
}

.sub-tab.is-visible {
    transform: translateX(0);
}

.subspaces.is-visible {
    transform: translateX(-100%);
}

.navlist-mobile ul:first-of-type li:first-child:active {
    transform: none;
}


.navlist-mobile ul:first-of-type li:first-child:hover {
    background: transparent;
}


.toggle-menu {
    width: 80px;
    height: 45px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    position: relative;
    left: -10%;
}

.bar {
    display: inline-block;
    width: 50px;
    height: 10px;
    background: #fff;
    transition: all 0.5s ease;
}

.toggle-menu.is-active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    width: 30px;
}

.toggle-menu.is-active .bar:nth-child(2) {
    display: none;
}

.toggle-menu.is-active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    width: 30px;
}

#choose-workspace {
    display: inline-block;
    position: relative;
    background: transparent;
    height: auto;
    width: 120px;
    word-break: break-word;
    cursor: pointer;
}

#choose-workspace:hover {
    background: #dd5578;
}

#choose-workspace:active {
    transform: scale(0.57);
}

.tut {
    position: relative;
    cursor: pointer;
}

.tut.hide-tut {
    display: none;
}

.tut:hover {
    background: #dd5578;
}

.tut:active {
    transform: scale(0.57);
}

.tutorial-panel {
    width: 70vw;
    max-height: 80vh;
    position: fixed;
    top: 50px;
    right: 0;
    background: #000;
    z-index: 1000;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    border: 1px solid #dd5578;
    overflow-y: scroll;
    transition: all 0.4s ease-out;
}

.tutorial-panel.tut-active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.tutorial-panel p {
    padding-bottom: 20px;
    ;
}

.tutorial-panel strong {
    color: rgb(255, 2255, 0);
}

.tutorial-panel>*:not(h2) {
    font-size: 0.95rem;
}

.tutorial-panel p {
    width: 80%;
    margin: auto;
}

#close-panel-btn {
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    right: 0;
}

.tutorial-panel em {
    color: #dd7722;
}

.create-workspace-container {
    width: auto;
    max-width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3 ease;
}

.create-workspace-container.show-workspace-container {
    max-width: 300px;
    opacity: 1;
    visibility: visible;
}

/* ===================================
DESKTOP  VERSIION OF ASIDE STYLE
=================================== */

/* brand Area */

@media(min-width: 768px) {
    .brand-area {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 800;
        gap: 10px;
    }
}


.mose-brand {
    width: 100%;
    height: 50px;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    margin-top: 110px;
    padding-left: 200px;
}

.mose-brand-tech {
    width: auto;
    max-width: 300px;
    height: 50px;
    background: linear-gradient(
        135deg,
        #7855aa,
        orangered,
        #7855ee
    );
    backdrop-filter: contrast(10px);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.mobile-only {
    margin-top: 120px;
}

input, button {
    padding: 10px 10px;
    margin: 20px;
}

input, .task-input-container {
    outline: none;
    border: 3px solid transparent;
    border-radius: 50px;
    background: #999;
}

input:focus {
    background: #fff;
    transform: scale(1.09);
}

.task-input-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#curr-workspace {
    color: #7855aa;
    text-align-last: left;
    padding: 0 15px;
}

.time-date {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    align-items: flex-end;
    justify-content: center;
    padding-right: 50px;
    gap: 10px;
    background-color: transparent;
}

.clock {
    width: 120px;
    height: 120px;
    border: 1px solid gold;
    border-width: 10px;
    border-radius: 50%;
    background: #1a1a1a;;
    outline: 2px solid #000;
    outline-offset: -2px;
    position: relative;
}

.hand {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    transform-origin: bottom center rotate(0deg);
}

.hour {
    width: 8px;
    height: 35px;
    background: #777;
    border-radius: 15px 15px 0 0;
}

.minute {
    width: 3px;
    height: 40px;
    background: #a0a0a0;
    border-radius: 10px 10px 0 0;
}

.second {
    width: 1.5px;
    height: 45px;
    background: #ff0000;
    border-radius: 10px 10px 0 0;
}

.center-knob {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #a2a2a2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.date {
    width: 200px;
    max-width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#task-name {
   flex-grow: 1;
}

#set-priority {
    color: #fff;
    font-weight: bold;
}

#task-date {
    color: #fff;
    background: orangered;
}
#mobile-date-show {
    position: relative;
    width: 150px;
    height: 50px;
    left: 60%;
    border: 1px solid #fff;
    border-radius: 50px;
    background: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#mobile-date-show.is-showing {
    display: block;
}

.task-input-container * {
    background: transparent;
    width: auto;
    height: auto;
}

button {
    width: 80px;
    height: 50px;
    background: #7855ee;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0 auto;
    color: #fff;
}

button:active {
    filter: brightness(120%);
    transform: scale(0.97);
}

table {
    border: 1px solid #123;
    background: #aaa;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

thead {
    border-bottom: inherit;
    background: #888;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.hide-thead {
    display: table-row;
    visibility: collapse;
    opacity: 0;
    line-height: 0;
    height: 0;
}

th {
    background: transparent;
}

tbody {
    font-family: sans-serif;
}

tr {
   background: transparent;
}


tr td {
    text-align: left;
    background: transparent;
    width: 20%;
    height: auto;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-all;
    padding: 20px 0;
    vertical-align: middle;
}

tr td:last-child {
    text-align: center;
}


tr button {
    width: 80%;
    height: inherit;
    margin-right: 0;
}

.edit-th {
    cursor: pointer;
}

.responsive-table .edit-label {
    display: none;
}

.responsive-table .edit-th, .responsive-table .edit-cell {
    width: 0; 
    background-color: transparent;
    transition: width 0.4s ease;
}

.edit-toggle {
    display: inline-block;
}

.responsive-table .edit-cell {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.responsive-table.is-open .edit-label,
.responsive-table.is-open .edit-cell {
    display: table-cell;
}


.responsive-table.is-open .edit-th,
.responsive-table.is-open .edit-cell {
    width: 10%;
    opacity: 1;
    visibility: visible;
}

.responsive-table.is-open .edit-toggle {
    transform: rotate(90deg);
}

.responsive-table .edit-th {
    width: 5%;
}

/* DESKTOP VERSION OF BODY STYLE */

@media (min-width: 768px) {
    .mose-brand {
        margin: 15px 0 0 0;
    }

    button:hover {
        background: #dd5578;
        transform: scale(1.1);
    
    }
    
    .task-input-container {
        overflow: auto;
    }

    #mobile-date-show {
    display: none;
    }

    tr td {
        text-align: center;
        width: 16%;
    }

    .edit-cell {
        text-align:     left;
    }

    .edit-toggle {
        display: none;
    }

    .responsive-table .edit-label {
        display: table-cell;
    }

    .responsive-table .edit-th,
    .responsive-table .edit-cell {
        visibility: visible;
        opacity: 1;
        width: 10%;
    }

}

/* NAVBAR STYLE */


/* Desktop version OF Navbar */

@media (min-width: 768px) {
    .sidebar-nav {
        background: #7855ee;
        color: #fff;
        height: 100vh;
        overflow-y: auto;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        position: relative;
        color: #fff;
        background: transparent;
        z-index: 999;
        transform: translateZ(999);
    }

    .desktop-header {
        display: inline-block;
        font-weight: bold;
    }

    .mobile-header {
        display: none;
    }

    #choose-workspace {
        display: none;
    }

    #choose-workspace-desktop, #sort-desktop {
        cursor: pointer;
        display: inline-block;
    }

    #chooose-workspace-desktop {
        margin-top: 20px;
    }

    #sort-desktop:hover, #choose-workspace-desktop:hover {
        background: #dd5578;
    }

    #sort-desktop:active, #choose-workspace-desktop:active {
        transform: scale(0.57);
    }

    .navlist-mobile {
        display: none;
    }

    .navlist-desktop {
        display: list-item;
        list-style: none;
    }

    .navlist-desktop ul {
        width: auto;
        max-width: 250px;
        height: auto;
        max-height: 0;
        word-break: break-word;
        margin: 20px;
        list-style: none;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: contrast(1px);
        filter: brightness(150%);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        z-index: 500;
        overflow: hidden;
        transition: opacity 0.4s ease, visibility 0.4s ease,
        max-height cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .navlist-desktop.desk-active {
        opacity: 1;
        visibility: visible;
        max-height: 300px;
    }

    .arrow.desk-active {
        transform: rotate(90deg);
        overflow-y: auto;
    }

    .toggle-menu {
        display: none;
    }

    .weekly-tab li:not(:last-child) {
        border: none;
    }

    .monthly-tab {
        transform: translateX(260%);
        text-align: center;
        width: 15% !important;
    }

    .monthly-tab.is-visible {
        transform: translateX(267%);
    }
    

    #curr-view {
        margin-right: -55%;
    }

    .tut {
        left: -27px;
    }

    .tut.hide-tut {
        display: inline-block;
    }

    .tutorial-panel {
        width: 50%;
        max-height: 90vh;
        display: flex;
        flex-direction: column;
        gap: 50px;
        pointer-events: auto;
        overscroll-behavior: contain;
    }

    .tutorial-panel:hover {
        transform: scale(1.01);
    }

}

section {
    width: 100%;;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

