*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: #333;
}

.container {
  width: inherit;
  height: inherit;
  background: black;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 15px;
  border-radius: 0 0 10% 10%;
  border: 3px solid gold;
  z-index: 10;
  overflow: hidden;
}

section {
  width: 100%;
}

.section-screen {
  height: 20vh;
  background: transparent;
  border-radius: 0 0 20px 20px;
  border: 1px solid #777789;
}

input {
  width: 100%;
  height: 80%;
  pointer-events: none;
  background: #55bb55;
  text-align: right;
  font-size: 4rem;
  font-weight: bold;
}

.calc-brand {
  color: yellow;
  font-style: italic;
  font-size: 1rem;
  text-shadow: 0 0 5px green;
  padding-left: 15px;
  height: 20%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
 .section-buttons {
  height: 78vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: transparent;
   position: relative;
 }

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  width: 33%;
  height: 20px;
  margin: 4px;
  border: 3px solid  trasparent;
  border-radius: 10%;
  background: transparent;
  color: white;
  padding: 35px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid white;
  z-index: 1000;
}

/*button:active {
  filter: brightness(120%);
  transform: scale(0.8);
  background: red;
}*/

 .activity button {
   background: #8788dd;
 }

.operators button {
  background: orangered;
  width: 20%;
}

.equals {
  position: absolute;
  background: transparent;
  left: 100%;
  top: 100%;
  transform: translate(-101%, -101%);
}

 .equals button {
   position: relative;
   left: 100%;
   transform: translateX(-100%);
 }
 
 .dot {
   position: absolute;
   left: 50%;
   top: 100%;
   transform:translate(-50%, -100%);
   background: transparent;
 }
 
 .dot button {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   width: 30px;
   height: 30px;
   background: transparent;
   border: 2px solid white;
   border-radius: 50%;
   padding: 20px 20px;
 }
 
button:active {
  filter: brightness(120%);
  transform: scale(0.8);
  background: red;
}