* {
    box-sizing: norder-box;
}

html {
    height: 100%;
}

body {
    font-size: 15pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction:  column;
    background:linear-gradient(
        to right,
        #000,
        #dd5578,
        #988977
    );
    color: #fff;
   padding: 0;
   margin: 0;
   text-align: center;
   width: 100%;
   height: 100%;
}

input, button {
    padding: 10px 10px;
    margin: 20px;
}

input {
    outline: none;
    border: 3px solid transparent;
    border-radius: 50px;
    background: #999;
    width: 80%;
    margin: 20px auto;
}

input:focus {
    background: #fff;
    transform: scale(1.09);
}

button {
    width: 50%;
    height: 50px;
    background: #000;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0 auto;
    color: inherit;
}

button:active {
    filter: brightness(120%);
    transform: scale(0.97);
}

table {
    border: 1px solid #123;
    background: #aaa;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

thead {
    border-bottom: inherit;
    background: #888;
}

th {
}

tbody {
    font-family: sans-serif;
}

tr {
   background: transparent;
}


tr td {
    text-align: left;
    background: transparent;
    width: auto;
    height: auto;
    white-space: normal;
    overflow-wrap: anywhere;
    /*word-break: break-all; */
    padding: 20px 0;
    vertical-align: middle;
}

tr td:last-child {
    text-align: center;
}


tr button {
    width: 80%;
    height: inherit;
    margin-right: 0;
}

@media (min-width: 768px) {
    button:hover {
        background: #dd5578;
        transform: scale(1.1);
    
    }

}