* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 15pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction:  column;
    background:linear-gradient(
        to right,
        #000,
        #dd5578,
        #988977
    );
    /*background: radial-gradient(
        circle at center,
        #dd5578 20%,
        #000 80%
    );
    background-attachment: fixed;*/
    color: #fff;
   padding: 0;
   margin: 0;
   text-align: center;
   width: 100%;
   height: 100%;
   position: relative;
   overflow-x: hidden;
}

h1 {
    margin-top: 50px;
}

input, button {
    padding: 10px 10px;
    margin: 20px;
}

input {
    outline: none;
    border: 3px solid transparent;
    border-radius: 50px;
    background: #999;
    width: 80%;
    margin: 20px auto;
}

input:focus {
    background: #fff;
    transform: scale(1.09);
}

button {
    width: 50%;
    height: 50px;
    background: #000;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0 auto;
    color: inherit;
}

button:active {
    filter: brightness(120%);
    transform: scale(0.97);
}

table {
    border: 1px solid #123;
    background: #aaa;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

thead {
    border-bottom: inherit;
    background: #888;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.hide-thead {
    display: table-row;
    visibility: collapse;
    opacity: 0;
    line-height: 0;
    height: 0;
}

th {
    background: transparent;
}

tbody {
    font-family: sans-serif;
}

tr {
   background: transparent;
}


tr td {
    text-align: left;
    background: transparent;
    width: 20%;
    height: auto;
    white-space: normal;
    overflow-wrap: anywhere;
    word-break: break-all;
    padding: 20px 0;
    vertical-align: middle;
}

tr td:last-child {
    text-align: center;
}


tr button {
    width: 80%;
    height: inherit;
    margin-right: 0;
}

.edit-th {
    cursor: pointer;
}

.responsive-table .edit-label {
    display: none;
}

.responsive-table .edit-th, .responsive-table .edit-cell {
    width: 0; 
    background-color: transparent;
    transition: width 0.4s ease;
}

.edit-toggle {
    display: inline-block;
}

.responsive-table .edit-cell {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.responsive-table.is-open .edit-label,
.responsive-table.is-open .edit-cell {
    display: table-cell;
}


.responsive-table.is-open .edit-th,
.responsive-table.is-open .edit-cell {
    width: 10%;
    opacity: 1;
    visibility: visible;
}

.responsive-table.is-open .edit-toggle {
    transform: rotate(90deg);
}

.responsive-table .edit-th {
    width: 5%;
}

@media (min-width: 768px) {
    button:hover {
        background: #dd5578;
        transform: scale(1.1);
    
    }

    tr td {
        text-align: center;
        width: 16%;
    }

    .edit-cell {
        text-align:     left;
    }

    .edit-toggle {
        display: none;
    }

    .responsive-table .edit-label {
        display: table-cell;
    }

    .responsive-table .edit-th,
    .responsive-table .edit-cell {
        visibility: visible;
        opacity: 1;
        width: 10%;
    }

}

/* NAVBAR STYLE */

.nav {
    /*display: flex;
    justify-content: flex-end;*/
    width: 100%;
    height: 50px;
    position: fixed;
    background: rgba(0, 0, 0, 0.95);
    z-index: 999;
    transform: translateZ(999); /* force on top for some browsers */
}

.nav ul {
    position: absolute;
    width: 35%;
    height: 170px;
    background: #000;
    border: 1px solid #dd5578;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
    will-change: transform, opacity;
}

.nav ul li {
    margin: 15px 15px 15px 0;
    cursor: pointer;
}


.nav ul:first-of-type  li:first-child {
    list-style: none;
    color: yellow;
    cursor: default;
    pointer-events: none;
}

.nav ul:not(:first-of-type) {
    list-style: none;
}


.weekly-tab li:not(:last-child) {
    border-bottom: 1px solid #dd5578;
}

.main-tab {
    top: 30px;
}

.sub-tab {
    top: 70px;
    transform: translate(90%);   
}

.weekly-tab {
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    top: 100px;
    transform: translateX(180%);
}

.monthly-tab {
    width: 25% !important;
    top: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    transform: translateX(270%);
}

.nav ul.is-visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

 .main-tab.is-visible {
     transform: translate(0, 0);
 }
 
.sub-tab.is-visible {
     transform: translateX(100%);
 }
 
.weekly-tab.is-visible {
   transform: translateX(200%);
}

.monthly-tab.is-visible {
    transform: translateX(280%);
}

 
 .nav ul:first-of-type li:first-child:active {
     transform: none;
 }
 
.nav ul li:active {
    transform: scale(0.57);
}

.nav ul:first-of-type li:first-child:hover {
    background: transparent;
 }

 .nav ul li:hover {
    background: #dd5578;
 }
 

.toggle-menu {
    width: 80px;
    height: 45px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    gap: 0;
}

.bar {
    display: inline-block;
    width: 50px;
    height: 10px;
    background: #fff;
    transition: all 0.5s ease;
}

.toggle-menu.is-active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    width: 30px;
}

.toggle-menu.is-active .bar:nth-child(2) {
    display: none;
}

.toggle-menu.is-active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    width: 30px;
}

#curr-view {
    display: inline-block;
    position: relative;
    margin-right: -240px;
    top: -30px;
    margin-right: -240;
    background: transparent;
}

.tut {
    position: relative;
    top: -30px;
    left: -10px;
    color: #fff;
    cursor: pointer;
}

.tut.hide-tut {
    display: none;
}

.tut:hover {
    color: #dd5578;
}

.tut:active {
    transform: scale(0.57);
}

.tutorial-panel {
    width: 70vw;
    min-height: 80vh;
    position: fixed;
    top: 50px;
    right: 0;
    background: #000;
    z-index:  1000;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    border: 1px solid #dd5578;
    transition: all 0.4s ease-out;
}

.tutorial-panel.tut-active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.tutorial-panel p {
    padding-bottom: 20px;;
}

.tutorial-panel strong {
    color: rgb(255, 2255, 0);
}

.tutorial-panel > *:not(h2) {
    font-size: 0.95rem;
}

.tutorial-panel p {
    width: 80%;
    margin: auto;
}

#close-panel-btn {
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    right: 0;
}

/* Desktop version */
@media (min-width: 768px) {

    .nav ul {
        width: 20%;
        height: 180px;
    }

    .weekly-tab li:not(:last-child) {
        border: none;
    }

    .monthly-tab {
        transform: translateX(260%);
        text-align: center;
        width: 15% !important;
    }

    .monthly-tab.is-visible {
        transform: translateX(267%);
    }
    

    #curr-view {
        margin-right: -55%;
    }

    .tut {
        left: -27px;
    }

    .tut.hide-tut {
        display: inline-block;
    }

    .tutorial-panel {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

}

section {
    width: 100%;;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* chart style */
.chart-container {
    width: 80%;
    min-height: 40vh;
    margin: auto;
    background: #000;
}

.pie-chart {
    height: 90%;
    padding-top: 20px;
    overflow-y: auto;
    position: relative;
}

.space-at-end {
    margin-top: 5px;
    height: 5px;
}

.hide-charts {
    display: none;
}